<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Username</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <nav class="nav tophead">
        <a class="nav-link" href="http://127.0.0.1:3000/">Home</a>
        <a class="nav-link" href="http://127.0.0.1:3000/users">User</a>
        <a class="nav-link" href="http://127.0.0.1:3000/albums">Albums</a>
        <a class="nav-link" href="http://127.0.0.1:3000/artists">Artist</a>
        <a class="nav-link" href="http://127.0.0.1:3000/login">Account</a>
    </nav>

    <div class="loginBox">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="username" class="form-control" id="username" aria-describedby="emailHelp">
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <h6 class="regMessage">Don't have an account? Please register below.</h6>
            <!-- <p>Don't have an account? Please register below.</p> -->
            <h6><a href="http://127.0.0.1:3000/register">REGISTER</a></h6>
            </form>
    </div>

    <nav class="navbar fixed-bottom author-href bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ATLIENS</a>
        </div>
    </nav>

</body>

</html>